# .replit
run = "python3 -m pip install --upgrade pip && pip install -e ."
language = "python3"

[nix]
channel = "stable-22_11"

[languages.cscript]
pattern = "**/*.cript"
icon = ".icons/cscript.png"
display = "CScript"

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"